@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --second-color: #b81515;

  --background-primary-color: #ffffff;
  --background-second-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-second-color: #ffffff;
  --text-tertiary-color: #f5f5f5;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

.section-title h2 {
  margin: 0;
  font-size: 28px;
  font-weight: var(--title-weight);
  text-align: center;
}

.section-title hr {
  height: 4px;
  width: 180px;
  border: none;
  margin: 16px auto 32px;
  background-color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
  }
}
