.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-tablet.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    background: url("../img/hero-desktop.png") no-repeat;
    background-size: cover;
  }
}
