.hero-img {
  height: 400px;
  width: 100%;
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: var(--text-weight);
  text-align: center;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    background: url("../img/hero-tablet.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .hero-img {
    background: url("../img/hero-desktop.png") no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 104px 120px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 104px 160px;
  }
}
